
body{
    margin:0px;
}

p{
    font-family: "SF Pro Display Thin";
}


a:hover{
    text-decoration: underline;

}

a{
    color:white;
    font-family: "SF Pro Display Thin";
    font-weight: 10px;
    text-decoration: none;

}


/* Header-content */
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    /* Set the height of the header to 100% of the viewport height */
    width: 100%;
    height:100px;
    position:fixed;
    background-color:#233460;
    color:white;
    font-family: "SF Pro Display Thin";
    font-weight: 10px;
  }

.header div{
    margin:40px;
}



/* Introduction */
.intro{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    height:700px;
    background-color:#233460;
    background: radial-gradient(
        circle 900px at 20% 140%,
        #5840d2, 
        #5f3ec9,
        #6c3ebb,
        #703eb1,
        #703ba7,
        #233460),
        #2e3e72;

}



.self_potrait{
    width: 350px;
    height: 450px;
    margin-right: 100px;
    margin-left:10px;

}

.self_potrait img{

    width: 100%;
    max-height: 100%;
    object-fit: fill;
    border-radius: 10%;
}


.about_me_yap p{
    font-size:20px;
    color:white;
}

.about_me_yap h1{
    font-family: 'Phetsarath', sans-serif;
    font-size: 45px;
    color: white;
    background-image: linear-gradient(to left, #0075FF,#527ee0, #8a96ea, #bfa9f0);   -webkit-background-clip: text;
    color: transparent;
}

.about_me_yap{
    width:400px;
    height:400px;
    display:flex;
    flex-direction: column;

}





/* Past-experiences */
.past_experiences{
    background-color: white;
    width: 100%;
    height: 900px;
    display: grid;
    justify-items:center;
    
}

.mid_container{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 5fr 3fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "title title ."
    "timeline aws stars"
    "timeline op stars"
    "timeline qb stars";
    justify-content: center;
    
}

.experience h2{
    color:purple;
    font-family: 'SF Pro Display Bold';
    margin-bottom: 0px;
    margin-top: 0px;

}

.experience h4{
    color:grey;
    font-family: 'SF Mono', SFMono-Regular, ui-monospace;
    font-weight: lighter;
    margin-top: 0px;

}

.experience p{
    color:black;

}


#aws{
    grid-area:aws;
    text-align: start;
}
#op{
    grid-area:op;
    text-align: start;
}

#qb{
    grid-area:qb;
    text-align: start;
}

.experience_head{
    grid-area:title;
    text-align: start;
    padding-left:10%;
    align-self: end;
}

.experience_head h1{
    margin-bottom: 0px;
}

.timeline{
    grid-area:timeline;
}

.timeline img{
    width: 100%;
    max-height: 100%;
    object-fit: fill;

}


.stars{
    grid-area:stars;
}

.stars img{
width: 100%;
max-height:100%;

}


.past_experiences h1{
    font-family: 'Phetsarath', sans-serif;
    font-size:50px;
    background-image: linear-gradient(to left, #527ee0, #4c559f, #8a96ea, #bfa9f0);   -webkit-background-clip: text;
    color: transparent;
}

/*Assets*/



@font-face {
    font-family: "SF Pro Display Thin";
    font-style: normal;
    font-weight: 200;
    src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Thin.ttf");
  }
  @font-face {
    font-family: "SF Pro Display Light";
    font-style: normal;
    font-weight: 300;
    src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Light.ttf");
  }
  @font-face {
    font-family: "SF Pro Display Regular";
    font-style: normal;
    font-weight: 400;
    src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Regular.ttf");
  }
  @font-face {
    font-family: "SF Pro Display Medium";
    font-style: normal;
    font-weight: 500;
    src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Medium.ttf");
  }
  @font-face {
    font-family: "SF Pro Display SemiBold";
    font-style: normal;
    font-weight: 600;
    src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-SemiBold.ttf");
  }
  @font-face {
    font-family: "SF Pro Display Bold";
    font-style: normal;
    font-weight: 700;
    src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Bold.ttf");
  }                                         
@font-face {
    font-family: 'Program OT Medium';
    src: url('../assets/fonts/fonnts.com-Program_OT_Medium.otf');
}

@font-face{
    font-family: 'Sonus Bold';
    src: url("../assets/fonts/sonus-bold.ttf")
}

@font-face{
    font-family: 'Interval Next Bold';
    src: url("../assets/fonts/Interval\ Next\ Wide\ W03\ Bold.ttf")
}

@font-face{
    font-family: 'Betm SemiBold';
    src: url("../assets/fonts/fonnts.com-BetmSemiBold.otf")
}


/* #Footer */
footer {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    background-color:#233460;
    background: radial-gradient(
        circle 900px at 90% 140%,
        #5840d2, 
        #5f3ec9,
        #6c3ebb,
        #703eb1,
        #703ba7,
        #233460),
        #2e3e72;
    height:600px;
}


footer h1{
    font-family: 'Phetsarath', sans-serif;
    font-size: 40px;
    color: white;
    background-image: linear-gradient(to left, #527ee0, #4c559f, #8a96ea, #bfa9f0);   -webkit-background-clip: text;
    color: transparent;
}

footer .contact_me_card{
    width:80%;
    height:300px;
    padding:20px;
    text-align:start;
    overflow-wrap: break-word;
    backdrop-filter: blur(14px); 
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 40px;
    font-size:medium;
}

.Say_Hi{
    width:80%;
    margin-top: 20px;
}

footer p{
    color:#ffffff;
    font-size: 20px;
    font-weight: lighter;
}



@media (max-width:600px){

}